{% extends 'basic/dashboard.html' %}

{% block content %}
{% load static %}


<form action="" method="POST" enctype='multipart/form-data'>
    {%  csrf_token %}
    <div class='row mx-5 '>
        <div class = 'col-md-6'>
            <div class="col mx-5 my-5" >
                
                <h4>{{error}}</h4>
                <h4>Username :</h4>{{form1.username}}
                <br><br>
                <h4>Email Address :</h4>{{form1.email}}
                <br>
                <p>{{email_check_msg}}</p>
                
                <h4>Name :</h4>{{form.name}}
                <br><br>
                <h4>Phone_no  :</h4>{{form.Phone_no}}
                <br>
                <p>{{phone_no_msg}}</p>
                <h4>flat_no :</h4>{{form.flat_no}}
                <br><br>
                <h4>no_of_people  :</h4>{{form.no_of_people}}
                <br><br>
                <h4>Password :</h4>{{form1.password1}}
                <br>
                {{message1}}<br>
                {{message2}}<br>
                {{message3}}
                <h4>Confirm Password :</h4>{{form1.password2}}
                <br><br>
               
                <!-- {{form.as_p}} -->



               
                <input type="submit" name="Submit"> 
            </div>
        </div>
    </div>
    
</form>


{% endblock %}